# Node.js
node_modules/
build/

# Logs
logs/
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*

# DBMS generated state
app_configs/env/
app_configs/migration_logs/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Git
.git/

app_configs/env.yaml